
h1  {
    color: #ceeaf5;
    text-shadow: 2px 2px 4px #000000;
}

body > div.banner.relative > div > h1 {
    margin-bottom: 400px;
}

i {
    margin-bottom: 175px;
}

.left{
    padding-right: 75px;
}

.right{
    padding-left: 75px;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #CFDEF3;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 12s linear infinite;
}




.background li:nth-child(0) {
    left: 29%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 68%;
    width: 242px;
    height: 242px;
    bottom: -242px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 51%;
    width: 302px;
    height: 302px;
    bottom: -302px;
    animation-delay: 7s;
}
.background li:nth-child(3) {
    left: 71%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 8s;
}
.background li:nth-child(4) {
    left: 41%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 10s;
}
.background li:nth-child(5) {
    left: 58%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 77%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 9s;
}
.background li:nth-child(7) {
    left: 49%;
    width: 238px;
    height: 238px;
    bottom: -238px;
    animation-delay: 1s;
}
.background li:nth-child(8) {
    left: 31%;
    width: 140px;
    height: 140px;
    bottom: -140px;
    animation-delay: 38s;
}
.background li:nth-child(9) {
    left: 16%;
    width: 298px;
    height: 298px;
    bottom: -298px;
    animation-delay: 40s;
}
.background li:nth-child(10) {
    left: 72%;
    width: 249px;
    height: 249px;
    bottom: -249px;
    animation-delay: 37s;
}
.background li:nth-child(11) {
    left: 48%;
    width: 303px;
    height: 303px;
    bottom: -303px;
    animation-delay: 33s;
}
.background li:nth-child(12) {
    left: 17%;
    width: 283px;
    height: 283px;
    bottom: -283px;
    animation-delay: 4s;
}
.background li:nth-child(13) {
    left: 71%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 37s;
}
.background li:nth-child(14) {
    left: 21%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 54s;
}
.background li:nth-child(15) {
    left: 35%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 31s;
}
.background li:nth-child(16) {
    left: 18%;
    width: 211px;
    height: 211px;
    bottom: -211px;
    animation-delay: 34s;
}